@import "../../app.scss";
.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;
    @include mobile {
      flex-direction: column;
      align-self: center;
      text-align: center;
    }
    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;
    }
    hr {
      width: 500px;
      border: none;
      border-top: 0.5px gray solid;
      @include mobile {
        width: 300px;
      }
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
      width: 100%;
    }
    .title {
      display: flex;
      align-items: center;
      gap: 50px;
      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }
      img {
        height: 100px;
        width: 300px;
        object-fit: cover;
        border-radius: 50px;
        @include mobile {
          width: 200px;
          height: 50px;
        }
      }
      h1 {
        font-weight: 100;
        font-size: 96px;
        @include mobile {
          font-size: 36px;
        }
      }
      button {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 24px;
        cursor: pointer;
        @include mobile {
          font-size: 16px;
          width: 150px;
          height: 50px;
        }
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;
    border: 0.5px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;

    @include mobile {
      flex-direction: column;
      width: 100%;
      border: none;
      margin-left: -1px;
    }
    p {
      @include mobile {
        display: none;
      }
    }

    .box:first-child {
      border: none;
      border-radius: 10px 0px 0px 10px;
    }
    .box:last-child {
      border: none;
      border-radius: 0px 10px 10px 0px;
      border-left: 0.5px solid gray;
    }
    .box {
      height: 100%;
      padding: 10px 50px;
      border-left: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include mobile {
        align-items: center;
        gap: 5px;
      }

      button {
        padding: 10px;
        @include mobile {
          background-color: transparent;
          border: orange 1px solid;
          color: white;
          width: 50%;
        }
        background-color: orange;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}
